<div ng-init="getPets()" id="petView">
    <div class="petDiv" ng-repeat="pet in pets">
      <div id="petName">
        Name: {{pet.name}}
      </div>
      <div id="petType">
        Animal: {{pet.animal_type}}
      </div>
      <div id="petAge">
        Age: {{pet.age}}
      </div>
      <div class="imageDiv">
        <img class="petImage" ng-src={{pet.image}} alt="a pet" />
      </div>
      <button ng-click="deletePet(pet._id)" type="button" name="button">Delete</button>
    </div>
</div>
